MONGODB_URI = mongodb+srv://amanikanta9812:mani4321@test-ecm.pd9qb8k.mongodb.net/?retryWrites=true&w=majority&appName=test-ecm
TOKEN_SECRET_KEY = "WEERFDFDDFDDFFFGFDCVGFGTRRERFGFTDFDFR"
FRONTEND_URL = http://localhost:3000